@import "other/sprite";
@import "other/mixins";

body.articles{

}
.articles-listPage{

}
#content .articles-listPage{
	margin-top: 18px;
	.lc{
		.item{
			border-radius: 5px;
			border: 1px solid #e3edf1;
			padding: 24px 20px;
			margin-top: 20px;
			&:first-child{
				margin-top: 0;
			}
			.title{
				font-size: 30px;
				line-height: 35px;
				font-weight: 700;
				margin-bottom: 7px;
				a{
					border-bottom: none;
				}
			}
			.text{
				font-size: 16px;
				line-height: 25px;
			}
			.bottomRow{
				margin-top: 23px;
				.doc{
					display: table;
					font-size: 0;
					.imgW{
						display: table-cell;
						vertical-align: middle;
						width: 40px;
						height: 40px;
						border-radius: 100%;
						overflow: hidden;
						position: relative;
						img{
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							right: 0;
							margin: auto;
							max-width: 100%;
							max-height: 100%;
						}
					}
					.rc{
						display: table-cell;
						vertical-align: middle;
						padding-left: 5px;
						.name{
							font-size: 14px;
							line-height: 20px;
						}
						.position{
							font-size: 14px;
							line-height: 20px;
							font-style: italic;
							color: map-get($colors, desc);
						}	
					}
				}
				.date{
					margin-top: 8px;
					float: right;
					padding-left: 20px;
					font-size: 14px;
					line-height: 25px;
					color: map-get($colors, desc);
					position: relative;
					display: inline-block;
					vertical-align: top;
					&:before{
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: 4px;
						@include sprite($s-sIcoGrey_date);
					}
				}
			}
		}
	}
	.rc{
		.topics{
			background: map-get($colors, ulBlue);
			border-radius: 5px;
			padding: 26px 10px 32px;
			.title{
				font-size: 30px;
				line-height: 30px;
				font-weight: 700;
				padding-left: 20px;
				margin-bottom: 11px;
			}
			.linksBlock{
				a{
					display: block;
					border-radius: 4px;
					font-size: 16px;
			    padding: 2px 19px 0;
			    line-height: 38px;
					box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
					background: transparent;
					transition: all 0.2s ease-in-out;
					border-bottom: none;
					color: map-get($colors, text);
					span{
						border-bottom: 1px solid map-get($colors, linkUnderH);
						padding-bottom: 2px;
					}
					&.active{
						color: map-get($colors, pink);
					}
					&:hover{
						color: #fff;
						background: map-get($colors, pink);
						box-shadow: 0px 5px 23px -6px rgba( map-get($colors, pink) , 0.75);
						span{
							border-bottom: 1px solid transparent;
						}
					}
				}
			}
		}
	}
}
#content .articleTitle{
	margin-bottom: 25px;
}
#content .articlesDetailPage .topBlock{
	.lc{

	}
	.rc{
		padding-left: 25px;
		padding-top: 2px;
	}
	.text{
		.previewText{
			
		}
		.detailText{
			
		}
	}
	.shareBlock{
		.ya-share2{

		}
	}
	.doctor{
		position: relative;
		font-size: 14px;
		line-height: 20px;
		padding-left: 46px;
		.imgW{
			position: absolute;
			left: 0;
			top: 0;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			overflow: hidden;
			background: map-get($colors, ulBlue);
			img{
				position: absolute;
				margin: auto;
				max-width: 40px;
				max-height: 40px;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
			}
		}
		.name{
			
		}
		.position{
			color: map-get($colors, desc);
			font-style: italic;
		}
	}
	.date{
		font-size: 14px;
		line-height: 25px;
		color: map-get($colors, desc);
		padding-left: 22px;
		position: relative;
		margin-top: 15px;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			@include sprite($s-sIcoGrey_date);
		}
	}
	.printVersion{
		position: relative;
		display: inline-block;
		background: map-get($colors, ulBlue);
		border-radius: 3px;
		line-height: 50px;
		height: 50px;
		font-style: italic;
		font-size: 16px;
		padding-left: 50px;
		padding-right: 20px;
		margin-top: 15px;
		cursor: pointer;
		transition: all 0.12s ease;
		&:before{
			content: '';
			position: absolute;
	    left: 10px;
	    top: 13px;
			@include sprite($s-mIcoBlack_printer);
		}
		&:hover{
			color: map-get($colors, pink);
		}
	}
	.printButton{
		display: none;
	}
	.disablePrintVersion{
		display: none;
	}

	.shareBlock{
		.ya-share2__item{
			padding-left: 0;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
			&:before{
				display: none;
			}
			a{
				border-bottom: none;
				padding: 10px;
				padding-right: 15px;
				position: relative;
				border-radius: 6px;
				.ya-share2__badge{
					background: none;
					border-radius: 0;
					position: static;
					&:after{
						transition: color 0.12s ease;
						content: 'Поделиться';
				    position: relative;
				    width: auto;
				    top: auto;
				    bottom: auto;
				    background: none;
		        display: inline-block;
    				vertical-align: middle;
				    line-height: 30px;
				    color: map-get($colors, text);
				    font-size: 16px;
				    font-style: italic;
				    margin-left: 10px;
					}
					.ya-share2__icon{
				    border-radius: 3px;
				    width: 30px;
				    height: 30px;
					}
					.ya-share2__counter{
				    float: right;
						display: inline-block;
						vertical-align: middle;
						color: #aca49e;
				    font-size: 16px;
				    line-height: 30px;
				    font-style: italic;
				    width: auto;
		        padding-right: 2px;
						&:before{
							display: none;
						}
					}
				}
				&:hover{
					.ya-share2__badge{
						&:after{
							color: map-get($colors, pink);
						}
					}
				}
			}
		}

		.ya-share2__item_service_vkontakte{
			a{
				background: #eceff3;
			}
			.ya-share2__icon{
				background-color: #48729e;
			}
		}
		.ya-share2__item_service_odnoklassniki{
			a{
				background: #fef2e8;
			}
			.ya-share2__icon{
		    background-color: #eb722e;
			}
		}
		.ya-share2__item_service_facebook{
			a{
				background: #ebeef4;
			}
			.ya-share2__icon{
		    background-color: #3b5998;
			}
		}
		.ya-share2__item_service_twitter{
			a{
				background: #eef7fd;
			}
			.ya-share2__icon{
		    background-color: #00aced;
			}
		}


	}
}
#content .articlesDetailPage{
	h3{
		margin-bottom: 24px;
	}
	.articles.section{
		margin-top: 68px;
	}
}


/*print V*/
#printVersion body{
	width: 21cm;
	margin: 0 auto;
}
#printVersion #mainWrapper{
	#content{
		width: 100%;
	}
	header, 
	footer, 
	.articlesDetailPage .articles.section,
	.articlesDetailPage .shareBlock,
	.articlesDetailPage .free-record,
	.topBlock .doctor,
	.topBlock .date,
	.printVersion
	{
		display: none;
		
	}
	.articlesDetailPage .lc{
		width: 100%;
		margin: 0 auto;
	}
	.articlesDetailPage .rc{
		margin-top: 20px;
		padding-left: 0;
		margin-left: 0;
	}
	.articleTitle{
		font-size: 30px;
		line-height: 34px;
		margin-top: 20px;
	}
	.printButton, .disablePrintVersion{
		display: inline;
		cursor: pointer;
		&:hover{
			color: map-get($colors, pink);
		}
		&:after{
			display: block;
			content: '';
			clear: both;
			margin-bottom: 10px;
		}
	}
}
	@page {
	  size: A4;
    margin: 27mm 16mm 27mm 16mm;
	}
@media print {

  // html, body {
  //   width: 210mm;
  //   height: 297mm;
  //   margin: 0 auto;
  // }
	.articlesDetailPage .rc{
		display: none !important;
	}
}
