@import "other/sprite";
@import "other/mixins";

#doctors-list{
	.row{
		margin-top: 44px;
		&:first-child{
			margin-top: 0;
		}
	}
	.title{
		font-size: 50px;
		line-height: 50px;
		color: map-get($colors, text);
		font-weight: bold;
		span{
			display: block;
			width: 10px;
		}
	}
	.doctor{
		background: #ffc7cd;
		position: relative;
		border-bottom: none;
		color: map-get($colors, text);
		border-radius: 13px;
		transition: all 0.2s ease-in-out;
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
		&:after{
			opacity: 0;
			content: '';
			position: absolute;
	    right: 19px;
    	bottom: 15px;
			@include sprite($s-mIcoWhite_arrowRight);
			z-index: 1;
			transition: all 0.2s ease-in-out;
		}
		&:hover{
			border-bottom: none;
			box-shadow: 0px 30px 35px -19px rgba(157, 192, 126, 0.75);
			&:after{
				opacity: 1;
			}
		}
		.imgW{
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			border-radius: 0 0 0 13px;
			overflow: hidden;
			img{
				display: block;
			}
		}
		.text{
	    padding-left: 169px;
	    padding-top: 19px;
	    padding-right: 20px;
	    padding-bottom: 14px;
	    box-sizing: border-box;
	    display: block;
	    width: 100%;
	    font-size: 14px;
	    line-height: 20px;
	    color: map-get($colors, text);
	    >span{
	    	display: block;
	    	color: map-get($colors, text);
	    }
			.name{
				font-size: 18px;
				line-height: 19px;
				font-weight: bold;
				margin-bottom: 6px;
			}
			.position{
				color: map-get($colors, desc);
				font-style: italic;
				margin-bottom: 15px;
			}
			.experience{

			}
			.awards{

			}
			.recalls{

			}
			.articles{

			}
		}

		$bg1  : #FFC7CD;
		$bg2  : #DAFFF2;
		$bg3  : #FFDDFF;
		$bg4  : #BCF1FF;
		$bg5  : #E5EEF4;
		$bg6  : #FFFECB;
		$bg7  : #DCDEFF;
		$bg8  : #FFFECB;
		$bg9  : #DCDEFF;
		$bg10 : #2EFFDF;
		$bg11 : #E5EEF4;
		$bg12 : #DAFFF2;
		$bg13 : #FFDDC7;
		&:nth-child(1){ 
			background-color:  $bg1 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg1 , 15%), 0.7);
			}
		}
		&:nth-child(2){ 
			background-color:  $bg2 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg2 , 15%), 0.7);
			}
		}
		&:nth-child(3){ 
			background-color:  $bg3 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg3 , 15%), 0.7);
			}
		}
		&:nth-child(4){ 
			background-color:  $bg4 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg4 , 15%), 0.7);
			}
		}
		&:nth-child(5){ 
			background-color:  $bg5 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg5 , 15%), 0.7);
			}
		}
		&:nth-child(6){ 
			background-color:  $bg6 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg6 , 15%), 0.7);
			}
		}
		&:nth-child(7){ 
			background-color:  $bg7 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg7 , 15%), 0.7);
			}
		}
		&:nth-child(8){ 
			background-color:  $bg8 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg8 , 15%), 0.7);
			}
		}
		&:nth-child(9){ 
			background-color:  $bg9 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg9 , 15%), 0.7);
			}
		}
		&:nth-child(11){ 
			background-color: $bg10; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg10, 15%) , 0.7);
			}
		}
		&:nth-child(12){ 
			background-color: $bg11; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg11, 15%) , 0.7);
			}
		}
		&:nth-child(13){ 
			background-color: $bg12; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg12, 15%) , 0.7);
			}
		}
		&:nth-child(14){ 
			background-color: $bg13; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg13, 15%) , 0.7);
			}
		}
	}
}

#content .doctor-detail{
	.backButton{
		margin-bottom: 29px;
		a{
	    font-size: 18px;
	    line-height: 49px;
	    position: relative;
	    padding-left: 48px;
	    padding-right: 38px;
	    height: 50px;
	    display: inline-block;
	    box-sizing: border-box;
	    border: 2px solid map-get($colors, dBlue);
	    border-radius: 6px;
	    transition: all 0.13s ease-in-out;
      &:after, &:before {
        right: 100%;
        margin-right: -27px;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        transition: all 0.13s ease-in-out;
      }
      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #fff;
        border-width: 6px;
        margin-top: -6px;
      }
      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: map-get($colors, dBlue);
        border-width: 9px;
        margin-top: -9px;
      }
      &:hover{
      	border-color: map-get($colors, pink);
      	&:before{
					border-right-color: map-get($colors, pink);
      	}
      }
    }
	}
	.topBlock{
		margin-bottom: 49px;
		color: #fff;
		height: 250px;
		background-color: #9f58cd;
		background-repeat: repeat;
		background-position: 0 0;
		background-image: url("/local/templates/rudenta/images/doctorTopBlockBg.png");
		border-radius: 12px;
    padding: 0 40px;
    position: relative;
    &:after{
    	display: inline-block;
    	vertical-align: middle;
    	content: '';
    	width: 0;
    	height: 100%;
    }
		&.fio{
		 	background-color: #9f58cd;
		 	box-shadow: 0px 30px 55px -20px rgba( #9f58cd , 0.6);
		}
		&.pink{
		 	background-color: map-get($colors, pink);
		 	box-shadow: 0px 30px 55px -20px rgba( map-get($colors, pink) , 0.6);
		}
		&.dBlue{
		 	background-color: map-get($colors, dBlue);
		 	box-shadow: 0px 30px 55px -20px rgba( map-get($colors, dBlue) , 0.6);
		}
		&.lBlue{
		 	background-color: map-get($colors, lBlue);
		 	box-shadow: 0px 30px 55px -20px rgba( map-get($colors, lBlue) , 0.6);
		}
		&.green{
		 	background-color: map-get($colors, green);
		 	box-shadow: 0px 30px 55px -20px rgba( map-get($colors, green) , 0.6);
		}
		&.yellow{
		 	background-color: map-get($colors, yellow);
		 	box-shadow: 0px 30px 55px -20px rgba( map-get($colors, yellow) , 0.6);
		}
		.lc{
			display: inline-block;
			vertical-align: middle;
			width: 470px;
			padding-bottom: 18px;
			.name{
				font-size: 50px;
				line-height: 50px;
				font-weight: 700;
			}
			.position{
				font-size: 18px;
				line-height: 28px;
				margin-top: 12px;
				font-style: italic;
			}
		}
		.quote{
			display: inline-block;
			vertical-align: top;
			background: transparent url("/local/templates/rudenta/images/doctorDetail-quote.png") no-repeat left top;
			width: 373px;
			height: 176px;
	    margin-top: 33px;
    	margin-left: 10px;
			font-style: italic;
			color: map-get($colors, text);
			font-size: 20px;
			line-height: 28px;
			filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.2));
			position: relative;
			z-index: 1;
			.quoteIW{
		    padding: 24px 55px 15px 40px;
			}
		}
		.imgW{
			z-index: 0;
			position: absolute;
			right: 60px;
			bottom: 0;
			img{
				display: block;
			}
		}
	}
	.w-2col{
		.titleH3{
			font-size: 30px;
			line-height: 30px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		.text{
			font-size: 16px;
			line-height: 20px;
		}
		.titleH4{
			font-size: 20px;
			line-height: 28px;
			font-weight: 700;
			font-style: italic;
			margin-bottom: 10px;
		}
	}
	.zoom-gallery{
	  a{
	  	box-sizing: border-box;
	  	display: block;
	  	border: 3px solid #ecf6f8;
	    border-bottom: none;
	    overflow: hidden;
	    box-shadow: 0px 7px 10px -2px rgba( #b3c1c6 , 0.8);
	    img{
	    	max-width: 100%;
	    	height: auto;
	    	width: auto;
	    	display: block;
	    }
	  }
	}
	.free-record{
		margin-top: 1px;
		background: #ddf4f4;
	}
	.docNoteBlock{
		margin-top: 44px;
		.title{
			font-size: 30px;
			line-height: 30px;
			font-weight: 700;
			margin-bottom: 24px;
		}
		a{
			font-size: 20px;
			line-height: 28px;
			font-weight: 700;
			border-radius: 3px;
			border: 2px dashed map-get($colors, lBlue);
			box-sizing: border-box;
			display: block;
			transition: all 0.12s ease-in-out;
			position: relative;
	    padding: 15px 19px 45px;
	    margin-bottom: 20px;
	    color: map-get($colors, text);
	    &:last-child{
	    	margin-bottom: 0;
	    }
			&:after{
				transition: all 0.12s ease-in-out;
				opacity: 1;
				content: '';
				position: absolute;
		    right: 19px;
	    	bottom: 15px;
				@include sprite($s-mIcoLBlue_arrowRight);
				z-index: 1;
			}
			&:before{
				transition: all 0.12s ease-in-out;
				opacity: 0;
				content: '';
				position: absolute;
		    right: 19px;
	    	bottom: 15px;
				@include sprite($s-mIcoPink_arrowRight);
				z-index: 1;
			}
			&:hover{
				border: 2px dashed map-get($colors, Pink);
				color: map-get($colors, pink);
				&:after{
					opacity: 0;
				}
				&:before{
					opacity: 1;
				}
			}
		}
	}

}