@import "other/sprite";
@import "other/mixins";

#doctors-list{
	.row{
		margin-top: 44px;
		&:first-child{
			margin-top: 0;
		}
	}
	.title{
		font-size: 50px;
		line-height: 50px;
		color: map-get($colors, text);
		font-weight: bold;
		span{
			display: block;
			width: 10px;
		}
	}
	.doctor{
		background: #ffc7cd;
		position: relative;
		border-bottom: none;
		color: map-get($colors, text);
		border-radius: 13px;
		transition: all 0.2s ease-in-out;
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
		&:after{
			opacity: 0;
			content: '';
			position: absolute;
	    right: 19px;
    	bottom: 15px;
			@include sprite($s-mIcoWhite_arrowRight);
			z-index: 1;
			transition: all 0.2s ease-in-out;
		}
		&:hover{
			border-bottom: none;
			box-shadow: 0px 30px 35px -19px rgba(157, 192, 126, 0.75);
			&:after{
				opacity: 1;
			}
		}
		.imgW{
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			border-radius: 0 0 0 13px;
			overflow: hidden;
			img{
				display: block;
			}
		}
		.text{
	    padding-left: 169px;
	    padding-top: 19px;
	    padding-right: 20px;
	    padding-bottom: 14px;
	    box-sizing: border-box;
	    display: block;
	    width: 100%;
	    font-size: 14px;
	    line-height: 20px;
	    color: map-get($colors, text);
	    >span{
	    	display: block;
	    	color: map-get($colors, text);
	    }
			.name{
				font-size: 18px;
				line-height: 19px;
				font-weight: bold;
				margin-bottom: 6px;
			}
			.position{
				color: map-get($colors, desc);
				font-style: italic;
				margin-bottom: 15px;
			}
			.experience{

			}
			.awards{

			}
			.recalls{

			}
			.articles{

			}
		}

		$bg1  : #FFC7CD;
		$bg2  : #DAFFF2;
		$bg3  : #FFDDFF;
		$bg4  : #BCF1FF;
		$bg5  : #E5EEF4;
		$bg6  : #FFFECB;
		$bg7  : #DCDEFF;
		$bg8  : #FFFECB;
		$bg9  : #DCDEFF;
		$bg10 : #2EFFDF;
		$bg11 : #E5EEF4;
		$bg12 : #DAFFF2;
		$bg13 : #FFDDC7;
		&:nth-child(1){ 
			background-color:  $bg1 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg1 , 15%), 0.7);
			}
		}
		&:nth-child(2){ 
			background-color:  $bg2 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg2 , 15%), 0.7);
			}
		}
		&:nth-child(3){ 
			background-color:  $bg3 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg3 , 15%), 0.7);
			}
		}
		&:nth-child(4){ 
			background-color:  $bg4 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg4 , 15%), 0.7);
			}
		}
		&:nth-child(5){ 
			background-color:  $bg5 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg5 , 15%), 0.7);
			}
		}
		&:nth-child(6){ 
			background-color:  $bg6 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg6 , 15%), 0.7);
			}
		}
		&:nth-child(7){ 
			background-color:  $bg7 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg7 , 15%), 0.7);
			}
		}
		&:nth-child(8){ 
			background-color:  $bg8 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg8 , 15%), 0.7);
			}
		}
		&:nth-child(9){ 
			background-color:  $bg9 ; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg9 , 15%), 0.7);
			}
		}
		&:nth-child(11){ 
			background-color: $bg10; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg10, 15%) , 0.7);
			}
		}
		&:nth-child(12){ 
			background-color: $bg11; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg11, 15%) , 0.7);
			}
		}
		&:nth-child(13){ 
			background-color: $bg12; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg12, 15%) , 0.7);
			}
		}
		&:nth-child(14){ 
			background-color: $bg13; 
			&:hover{
				box-shadow: 0px 30px 35px -19px rgba( darken($bg13, 15%) , 0.7);
			}
		}
	}
}

#content .doctor-detail{
	.zoom-gallery{
	  a{
	  	box-sizing: border-box;
	  	display: block;
	  	border: 3px solid #ecf6f8;
	    border-bottom: none;
	    overflow: hidden;
	    box-shadow: 0px 7px 10px -2px rgba( #b3c1c6 , 0.8);
	    img{
	    	max-width: 100%;
	    	height: auto;
	    	width: auto;
	    	display: block;
	    }
	  }
	}
}