@import "other/sprite";
@import "other/mixins";
.homepage #content{
	.blueBlockLinks{
		margin-top: 44px;
    margin-bottom: 80px;
		font-size: 0;
    position: relative;
    text-align: justify;
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;
		&:after{
			display: inline-block;
			vertical-align: top;
			width: 100%;
		}
		.w-1d6col{
			text-align: left;
			text-align-last: left;
			border-bottom: none;
			display: block;
	    box-sizing: border-box;
    	padding: 20px 20px 40px 20px;
    	margin-bottom: 20px;
			border-radius: 13px;
			background: map-get($colors, lightBlueBlock);
			position: relative;
			display: inline-block;
			vertical-align: top;
			float: none;
			.name{
				display: block;
				font-size: 18px;
				color: map-get($colors, dBlue);
				margin-bottom: 10px;
				transition: all 0.15s ease;
			}
			.value{
				display: block;
				position: absolute;
				bottom: 15px;
				font-size: 14px;
				line-height: 20px;
				color: map-get($colors, desc);
			}
			&:hover{
				.name{
					color: map-get($colors, pink);
				}
			}
			&.all{

			}
		}
	}
	#hp_slider{
		margin-top: 90px;
		margin-bottom: 90px;
	}
	.hpVideoRow{
		position: relative;
		border-radius: 30px;
		color: #fff;
		background: transparent url(../images/hpVideoRow_bg.png) repeat 0 0;
		font-size: 0;
		.lc{
			display: inline-block;
			vertical-align: top;
			width: 375px;
			min-height: 10px;
			.videoBlock{
				will-change: transform;
		    height: 190px;
		    width: 333px;
	      position: absolute;
	      overflow: hidden;
	      -webkit-box-shadow: 0 38px 80px -10px rgba(73,98,99,0.6);
	      -moz-box-shadow: 0 38px 80px -10px rgba(73,98,99,0.6);
	      box-shadow: 0 38px 80px -10px rgba(73,98,99,0.6);
	      transform: rotate(3deg);
	      border: 5px solid #f5f5f5;
	      box-sizing: border-box;
		    left: 20px;
		    top: -35px;
		    background: #f5f5f5;
				.img{
	        position: absolute;
	        top: -15px;
	        left: -15px;
			    height: 210px;
			    width: 353px;
	        will-change: transform;
	        transform: rotate(-3deg);
	        background: #fff url(../images/hpVideoRow_videoPoster.png) no-repeat 0 0;
	        background-size: cover;
	        border: 1px solid #000;
	        box-sizing: border-box;
				}
			}
		}
		.rc{
			display: inline-block;
			vertical-align: top;
			.t1{
				font-size: 30px;
		    line-height: 40px;
		    font-style: italic;
		    font-weight: 700;
		    position: relative;
		    margin-left: 49px;
		    margin-top: 31px;
		    letter-spacing: -0.1px;
				&:before{
					content: '';
					position: absolute;
			    left: -49px;
			    top: 10px;
					@include sprite($s-hpVideoRow_t1);
				}
			}
			.t2{
		    font-style: italic;
		    font-size: 18px;
		    line-height: 40px;
		    margin-left: 50px;
		    margin-top: 4px;
		    letter-spacing: -0.13px;
		    margin-bottom: 25px;
			}
		}
	}
	.doctorsBlock{
		margin-top: 136px;
    margin-bottom: 80px;
		.w-1col{
			h2{
				padding-top: 20px;
	    	margin-bottom: 17px;
			}
			.text{
				margin-bottom: 73px;
				p{
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 15px;
				}
			}
		}/*end left col*/
		.doctors-list{
			visibility: hidden;
			.row{
				margin-bottom: 0px;
				.col{
					height: 180px;
					position: relative;
					&.hover{
						.item .iw{
							background: map-get($colors, lBlue);
						}
					}
					.item{
						will-change: transform;
				    position: absolute;
				    right: 25px;
						width: 152px;
						height: 152px;
						display: block;
						border-radius: 25px;
						border: none;
						overflow: hidden;
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#94ecd3+0,f0f1f3+100 */
						background: #94ecd3; /* Old browsers */
						background: -moz-linear-gradient(top,  #94ecd3 0%, #f0f1f3 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  #94ecd3 0%,#f0f1f3 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  #94ecd3 0%,#f0f1f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94ecd3', endColorstr='#f0f1f3',GradientType=0 ); /* IE6-9 */
						//transition: box-shadow 0s ease-in-out;
						.iw{
					    overflow: hidden;
					    position: absolute;
					    right: 0;
					    width: 380px;
					    min-height: 200px;
					    background: transparent;
					    transition: background 0.5s ease;
							.imgW{
								display: block;
								position: absolute;
								top: 0;
								right: 0;
								height: 100%;
								img{
									height: 95%;
							    position: absolute;
							    right: 13px;
							    bottom: -1px;
									display: block;
								}
							}
							.text{
						    padding-right: 169px;
						    padding-top: 28px;
						    padding-left: 20px;
						    padding-bottom: 14px;
						    box-sizing: border-box;
						    display: block;
						    width: 100%;
						    font-size: 14px;
						    line-height: 20px;
						    color: #fff;
				        position: relative;
				        z-index: 1;
						    >span{
						    	display: block;
				    	    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
						    }
								.name{
									font-size: 18px;
									line-height: 19px;
									font-weight: bold;
									margin-bottom: 5px;
								}
								.position{
									font-style: italic;
									margin-bottom: 15px;
								}
								.experience{

								}
								.awards{

								}
								.recalls{

								}
								.articles{

								}
							}
						}
						&.complete {
							// transition: box-shadow 0.15s ease-in-out;
						 //  -webkit-box-shadow: 0px 28px 80px 0px rgba(56,67,70,0.5);
							// -moz-box-shadow: 0px 28px 80px 0px rgba(56,67,70,0.5);
							// box-shadow: 0px 28px 80px 0px rgba(56,67,70,0.5);
						}
					}
					.itemOverflow{
						will-change: transform;
						-moz-transition: border-width 0.15s ease-in-out;
				    display: block;
				    box-sizing: border-box;
				    width: 172px;
				    height: 172px;
				    -webkit-border-radius: 30px;
				    border-radius: 40px;
				    border: 20px solid #fff;
				    position: absolute;
					}
				}
			}
		}
	}	


	.sovetiBlock{
		margin-top: 98px;
		h2{
			margin-bottom: 28px;
		}
		.items{
			.item{
				font-size: 16px;
				line-height: 20px;
				color: map-get($colors, dBlue);
				margin-top: 15px;
				&:first-child{
					margin-top: 0;
				}
				a{
					border-bottom: none;
				}
			}
		}
	}
}