@import "other/sprite";
@import "other/mixins";
.homepage #content{
	.hpBestInRus{
		text-align: center;
		border: 2px dashed #f2b105;
		border-radius: 10px;
		padding: 49px 0 49px;
		.title{
			font-size: 50px;
			line-height: 50px;
			color: #f2b105;
			font-weight: 700;
			position: relative;
			display: inline-block;
			margin-bottom: 12px;
			&:before{
				content: '';
				position: absolute;
		    left: -59px;
		    top: -2px;
				@include sprite($s-siteIcons-vetkaLeft_yellow);
			}
			&:after{
				content: '';
				position: absolute;
		    right: -59px;
		    top: -2px;
				@include sprite($s-siteIcons-vetkaRight_yellow);
			}
		}
		.t{
			font-size: 14px;
			line-height: 20px;
		}
		.customIconsMenu{
		  margin-top: 30px;
		  width: 100%;
		  padding: 0 20px;
		}
	
	}
	.blueBlockLinks{
		margin-top: 44px;
		.w-1d6col{
			border-bottom: none;
			display: block;
	    box-sizing: border-box;
    	padding: 22px 20px 18px 20px;
			border-radius: 13px;
			background: map-get($colors, lightBlueBlock);
			.name{
				display: block;
				font-size: 20px;
				color: map-get($colors, dBlue);
				margin-bottom: 12px;
				transition: all 0.15s ease;
			}
			.value{
				display: block;
				font-size: 14px;
				line-height: 20px;
				color: map-get($colors, desc);
			}
			&:hover{
				.name{
					color: map-get($colors, pink);
				}
			}
			&.all{

			}
		}
	}
	#hp_slider{
		margin-top: 90px;
		margin-bottom: 90px;
		height: 550px;
		width: 100%;
		position: relative;
		.slide{
			will-change: transform;
			top: 0;
			left: 50%;
			margin-left: -435px;
			max-width: 870px;
			max-height: 542px;
			border: 5px solid #fff;
			position: absolute;
			box-shadow: 10px 25px 80px 0px #7F8E8F;
			-webkit-box-shadow: 10px 25px 80px 0px #7F8E8F;
			-moz-box-shadow: 10px 25px 80px 0px #7F8E8F;
			-o-box-shadow: 10px 25px 80px 0px #7F8E8F;
			.imgW{
				overflow: hidden;
				position: relative;
				will-change: transform;
		    -webkit-transform: translateZ(1px);
				&:before{
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 1;
					content: '';
					display: block;
					opacity: 0.5;
					background: map-get($colors, dBlue);
					transition: opacity 0.2s ease;
				}
				img{
					-webkit-transform: translateZ(1px);
					min-height: 100%;
					min-width: 100%;
					height: auto;
					width: auto;
					margin: 0 auto;
					display: block;
				}
			}
			.desc{
				opacity: 0;
				position: absolute;
				right: 0;
				bottom: -30px;
				transition: opacity 0.2s ease;
			}
			&.current{
				.imgW:before{
					opacity: 0;
				}
				.desc{
					opacity: 1;	
				}
			}
		}
		.left-arrow, .right-arrow{
			cursor: pointer;
			width: 100px;
			height: 100%;
			top: 0;
			position: absolute;
			z-index: 5;
			&:before{
				content: '';
				cursor: pointer;
				top: 41%;
				display: block;
				position: absolute;
				transform: translateY(-50%);
			}
		}
		.left-arrow{
			left: 0;			
			&:before{
				@include sprite($s-hp_mainSlider-arrowLeft);
				right: 37px;
			}
		}
		.right-arrow{
			right: 0;
			&:before{
				@include sprite($s-hp_mainSlider-arrowRight);
				left: 37px;
			}
		}
	}
	.hpVideoRow{
		position: relative;
		border-radius: 30px;
		color: #fff;
		background: transparent url(../images/hpVideoRow_bg.png) repeat 0 0;
		font-size: 0;
		.lc{
			display: inline-block;
			vertical-align: top;
			width: 375px;
			min-height: 10px;
			.videoBlock{
				will-change: transform;
		    height: 190px;
		    width: 333px;
	      position: absolute;
	      overflow: hidden;
	      -webkit-box-shadow: 0 38px 80px -10px rgba(73,98,99,0.6);
	      -moz-box-shadow: 0 38px 80px -10px rgba(73,98,99,0.6);
	      box-shadow: 0 38px 80px -10px rgba(73,98,99,0.6);
	      transform: rotate(3deg);
	      border: 5px solid #f5f5f5;
	      box-sizing: border-box;
		    left: 20px;
		    top: -35px;
				.img{
	        position: absolute;
	        top: -15px;
	        left: -15px;
			    height: 210px;
			    width: 353px;
	        will-change: transform;
	        transform: rotate(-3deg);
	        background: #fff url(../images/hpVideoRow_videoPoster.png) no-repeat 0 0;
	        background-size: cover;
	        border: 1px solid #000;
	        box-sizing: border-box;
				}
			}
		}
		.rc{
			display: inline-block;
			vertical-align: top;
			.t1{
				font-size: 30px;
		    line-height: 40px;
		    font-style: italic;
		    font-weight: 700;
		    position: relative;
		    margin-left: 49px;
		    margin-top: 31px;
		    letter-spacing: -0.1px;
				&:before{
					content: '';
					position: absolute;
			    left: -49px;
			    top: 10px;
					@include sprite($s-hpVideoRow_t1);
				}
			}
			.t2{
		    font-style: italic;
		    font-size: 18px;
		    line-height: 40px;
		    margin-left: 50px;
		    margin-top: 4px;
		    letter-spacing: -0.13px;
		    margin-bottom: 25px;
			}
		}
		.videoPopup{
			display: none;
		}
	}
	.doctorsBlock{
		margin-top: 136px;
		.w-1col{
			h2{
				padding-top: 20px;
	    	margin-bottom: 17px;
			}
			.text{
				margin-bottom: 73px;
				p{
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 15px;
				}
			}
			.icons{
		    white-space: pre-line;
		    vertical-align: top;
		    font-size: 0;
				>a{
					border-bottom: none;
					white-space: normal;
					display: inline-block;
					vertical-align: top;
					text-decoration: none;
					min-height: 50px;
					padding-left: 50px;
					position: relative;
					padding-top: 1px;
			    margin-bottom: 31px;
			    &:hover{
			    	.text{
			    		border-bottom: none;
			    	}
			    }
					.text{
						border-bottom: 1px solid map-get($colors, linkUnder);
						font-size: 16px;
						line-height: 20px;
						padding-bottom: 2px;
					}
					.desc{
				    font-size: 14px;
				    line-height: 20px;
				    text-transform: uppercase;
				    color: #737373;
				    display: block;
				    margin-top: 1px;
				    letter-spacing: -0.2px;
					}
					&:before{
						content: '';
						position: absolute;
				    left: 0px;
				    top: 0;
					}
					&.tech:before{
						@include sprite($s-mIcoBlue_nlo);
					}
					&.license:before{
						@include sprite($s-mIcoBlue_gramota);
				    top: -3px;
					}
					&.vacancies:before{
						@include sprite($s-mIcoBlue_beidj);
						top: -4px;
					}
				}
			}
		}/*end left col*/
		.doctors-list{
			.row{
				margin-bottom: 40px;
				.col{
					position: relative;
					&.hover{
						.item .iw{
							background: map-get($colors, lBlue);
						}
					}
					.item{
						will-change: transform;
						position: relative;
						width: 152px;
						height: 152px;
						display: block;
						border-radius: 30px;
						overflow: hidden;
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#94ecd3+0,f0f1f3+100 */
						background: #94ecd3; /* Old browsers */
						background: -moz-linear-gradient(top,  #94ecd3 0%, #f0f1f3 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  #94ecd3 0%,#f0f1f3 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  #94ecd3 0%,#f0f1f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94ecd3', endColorstr='#f0f1f3',GradientType=0 ); /* IE6-9 */
						transition: box-shadow 0s ease-in-out;
						.iw{
					    overflow: hidden;
					    position: absolute;
					    left: 0;
					    width: 380px;
					    min-height: 200px;
					    background: transparent;
					    transition: background 0.5s ease;
							.imgW{
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								img{
									display: block;
								}
							}
							.text{
						    padding-left: 169px;
						    padding-top: 28px;
						    padding-right: 20px;
						    padding-bottom: 14px;
						    box-sizing: border-box;
						    display: block;
						    width: 100%;
						    font-size: 14px;
						    line-height: 20px;
						    color: #fff;
						    >span{
						    	display: block;
						    }
								.name{
									font-size: 18px;
									line-height: 19px;
									font-weight: bold;
									margin-bottom: 5px;
								}
								.position{
									font-style: italic;
									margin-bottom: 15px;
								}
								.experience{

								}
								.awards{

								}
								.recalls{

								}
								.articles{

								}
							}
						}
						&.complete {
							transition: box-shadow 0.15s ease-in-out;
						  -webkit-box-shadow: 0px 38px 80px 0px rgba(56,67,70,0.5);
							-moz-box-shadow: 0px 38px 80px 0px rgba(56,67,70,0.5);
							box-shadow: 0px 38px 80px 0px rgba(56,67,70,0.5);
						}
					}
					.itemOverflow{
						will-change: transform;
						-moz-transition: border-width 0.15s ease-in-out;
				    display: block;
				    box-sizing: border-box;
				    width: 172px;
				    height: 172px;
				    -webkit-border-radius: 30px;
				    border-radius: 40px;
				    border: 20px solid #fff;
				    position: absolute;
					}
				}
			}
		}
	}
	.recallsBlock{
		background: transparent url(../images/recallBlockBg2.png) repeat left top;
		position: relative;
		padding: 10px;
		border-radius: 30px;
		overflow: hidden;
		-webkit-box-shadow: 0px 20px 40px 0px rgba(200,161,213,0.8);
		-moz-box-shadow: 0px 20px 40px 0px rgba(200,161,213,0.8);
		box-shadow: 0px 20px 40px 0px rgba(200,161,213,0.8);
		.recallsBlockIW{
			position: relative;
			background: #fff;
    	border-radius: 22px;
	    padding-left: 189px;
	    padding-bottom: 48px;
      padding-top: 35px;
      -webkit-box-shadow: 0px 3px 6px 0px rgba(101,79,110,0.3);
			-moz-box-shadow: 0px 3px 6px 0px rgba(101,79,110,0.3);
			box-shadow: 0px 3px 6px 0px rgba(101,79,110,0.3);
			h2{
				color: map-get($colors, pink);
		    position: relative;
		    left: -4px;
		    margin-bottom: 11px;
			}
			.items{
				margin-bottom: 30px;
				position: relative;
				.item{
					left: 0;
					top: 0;
			    position: absolute;
			    display: block;
			    width: 1004px;
			    opacity: 0;
			    filter: alpha(opacity=0);
			    width: 100%;
					.text{
						font-size: 20px;
						line-height: 31px;
						font-weight: bold;
						font-style: italic;
					}
					.desc{
						font-size: 16px;
						line-height: 25px;
						margin-top: 6px;
					}
					&:before{
						will-change: transform;
						background: transparent url(../images/hp-recalls-girl.png) no-repeat center center;
						background-size: contain;
						width: 144px;
						height: 311px;
						max-height: calc(100% + 130px);
						content: '';
						position: absolute;
						transform: translateX(-100%);
				    top: -40px;
    				left: -24px;
					}
				}
			}
			.nav{
				font-size: 0;
				.shownext{
					display: inline-block;
					vertical-align: top;
					border-radius: 5px;
					background: map-get($colors, green);
					height: 50px;
					width: 180px;
					color: #fff;
					font-weight: bold;
					font-size: 16px;
					line-height: 50px;
					position: relative;
					cursor: pointer;
			    padding-left: 66px;
					&:after{
						content: '';
						position: absolute;
						@include sprite($s-sIcoWhite_reload);
					    top: 17px;
					    left: 34px;
					}
				}
				.allRecalls{
					display: inline-block;
					border-bottom: none;
					vertical-align: top;
					color: map-get($colors, Dblue);
					font-weight: bold;
					font-style: italic;
					font-size: 16px;
					line-height: 47px;
					height: 50px;
					position: relative;
			    margin-left: 34px;
					&:after{
						content: '';
						position: absolute;
						@include sprite($s-sIcoDBlue_arrowRight);
					    top: 17px;
					    right: 1px;
					}
					span{
						font-size: 16px;
				    line-height: 46px;
				    padding-bottom: 2px;
				    padding-right: 18px;
						border-bottom: 1px solid map-get($colors, linkUnder);
					}
					&:hover{
						span{
							border-bottom: 1px solid transparent;
						}
					}
				}
			}
	
		}
	}
	


	.sovetiBlock{
		margin-top: 98px;
		margin-bottom: 99px;
		h2{
			margin-bottom: 28px;
		}
		.items{
			.item{
				font-size: 16px;
				line-height: 20px;
				color: map-get($colors, dBlue);
				margin-top: 15px;
				&:first-child{
					margin-top: 0;
				}
				a{
					border-bottom: none;
				}
			}
		}
	}
}
.videoPopup{

}