@import "other/sprite";
@import "other/mixins";
#content .recalls-list-page{
	margin-bottom: 46px;
	.lc{
		>.title{
			font-size: 50px;
			line-height: 50px;
			font-weight: 700;
			margin-bottom: 17px;
	    width: 100px;
		}
		.filterHidden{
			display: none;
		}
		.filtesBlock{

		}
		select{
			margin-bottom: 10px;
		}
		.selectric-wrapper{
			margin-bottom: 10px;
			.selectric{
	    	height: 50px;
	    	border-radius: 5px;
	    	color: map-get($colors, lBlue);
	    	.label{
	    		height: 100%;
	    		font-size: 18px;
	    		line-height: 49px;
	    		margin-left: 20px;
	    	}
	    	.button{
	    		height: 100%;
	    		&:after{
	    			right: 11px;
	    			top: 2px;
	    		}
	    	}
			}

    	&.selectric-open{
    		.selectric{
    			border-radius: 5px 5px 0 0;
    		}
    		&.selectric-above{
    			.selectric{
    				border-radius:  0 0 5px 5px;
    			}
    		}
    	}

		}
	}
	.rc{

	}
}
.writeReviewForm{
  padding: 30px 50px;
	margin: 40px auto;
  width: 650px;
	background: #fff;
	h3{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
	}
	.row{
		margin-bottom: 15px;
		.fieldName{
			margin-bottom: 4px;
		}
	}
	textarea{
		resize: vertical;
		width: 100%;
		min-height: 30px;
		padding: 7px 10px;
	}
}

#content .unlocal-recalls{
	margin-bottom: 17px;
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	.title{
		margin-top: -3px;
    margin-bottom: 13px;
	}
	.items{
		position: relative;
		width: calc(100% - 120px);
		margin-left: -5px;
		margin-right: -5px;
		float: left;
		height: 90px;
		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}
	.unlocal-recalls-4{
		z-index: 	0;
		position: absolute;
		opacity: 0;
		left: 0;
		width: 100%;
		top: 0;
		&:after{
			content: '';
			display: table;
			clear: both;
		}
		&.start{
			z-index: 1;
		}
		&.active{
			z-index: 1;
		}
	}
	.col{
		width: 25%;
		float: left;
		box-sizing: border-box;
		padding: 0 5px;
	}
	.unlocal-recalls-item{
		display: block;
		width: 100%;
		border-radius: 8px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    height: 90px;
    padding: 5px 10px;
    .imgW{
    	height: 56px;
    	width: 100%;
    	position: relative;
    	display: block;
    	img{
    		display: block;
				max-width: 100%;
				max-height: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
    	}
    }
    .name{
    	margin-top: 4px;
    	text-align: center;
    	display: block;
			font-size: 12px;
			line-height: 12px;
			color: #737373;
			transition: all 0.2s ease-in-out;
    }
    &:hover{
    	.name{
    		color: map-get($colors, pink);
    	}
    }
	}
	.buttonMore{
		height: 90px;
		float: right;
		cursor: pointer;
		width: 120px;
		margin-left: 10px;
		border-radius: 8px;
		background: map-get($colors, ulBlue);
		transition: all 0.2s ease-in-out;
		user-select: none;
		.icon{
			fill: map-get($colors, lBlue);
			width: 30px;
			height: 28px;
			margin: 20px auto 0;
			display: block;
			transform-origin: 50% 50%;
		}
		.text{
			margin-top: 18px;
			text-align: center;
			transition: all 0.2s ease-in-out;
			font-size: 12px;
			color: map-get($colors, lBlue);
		}
		&:hover{
			background: rgba( map-get($colors, pink), 0.1 );
			.icon{
				fill: map-get($colors, pink);
			}
			.text{
				color: map-get($colors, pink);
			}
		}
	}
}

#content .recalls-list{
	.count{
    font-size: 30px;
    margin-bottom: 3px;
	}
	.recall-item{
		position: relative;
		border: 2px solid #eaeaea;
		border-radius: 10px;
		padding: 27px 28px 31px;
		margin-top: 20px;
		&:first-child{
			margin-top: 0px;
		}
		.row1{
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 6px;
			.name{
				font-weight: 700;

			}
			.town{
				margin-left: 2px;
				color: map-get($colors, desc);
			}
		}
		.row2{
			font-size: 14px;
			line-height: 20px;
			color: map-get($colors, desc);
			a{
				border-bottom: none;
			}
		}
		.raiting{
			width: 120px;
			height: 20px;
			position: absolute;
	    right: 28px;
	    top: 21px;
			background: #eaeaea;
			.val{
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				height: 100%;
				background: map-get($colors, pink);
			}
			.bg{
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background: transparent url(../images/raitingBg.png) repeat-x 0 0;
			}
		}
		.text{
			padding: 0 28px 0 32px;
			margin-top: 18px;
			position: relative;
			font-size: 16px;
			line-height: 22px;
			&:before{
				content: '\00AB';
				font-weight: 700;
				color: #e2e2e2;
				font-size: 50px;
				line-height: 50px;
				position: absolute;
				left: -8px;
  			top: -8px;
			}
		}
	}
}