@import "other/sprite";
@import "other/mixins";
#content .servicesList{
	.customPageTitle{
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 36px;
		font-weight: 700;
	}
}
#content>div>.w-2col>.serviceBlock{
	>.service{
		.serviceTitle{
			font-size: 30px;
			line-height: 30px;
			color: inherit;
	    margin-bottom: 16px;
		}
		.serviceItem{
			position: relative;
			border-bottom: none;
			display: block;
	    padding: 17px 30px 13px;
	    box-sizing: border-box;
	    border-radius: 13px;
	    margin-bottom: 10px;
	    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
	    transition: all 0.2s ease-in-out;
	    height: 60px;
			.serviceName{
				color: map-get($colors, text);
				font-size: 20px;
				line-height: 26px;
				font-weight: 700;
				transition: color 0.2s ease-in-out;
			}
			.servicePrice{
				opacity: 1;
				color: map-get($colors, desc);
				font-size: 16px;
				line-height: 27px;
				transition: opacity 0.2s ease-in-out;
				float: right;
			}
			&:after{
				opacity: 0;
				content: '';
				position: absolute;
		    right: 36px;
		    bottom: 50%;
		    margin-bottom: -8px;
				@include sprite($s-mIcoWhite_arrowRight);
				z-index: 1;
				transition: opacity 0.2s ease-in-out;
			}
			&:hover{
				z-index: 1;
				.serviceName{
					color: #fff;
				}
				.servicePrice{
					opacity: 0;
				}
				&:after{
					opacity: 1;
				}
			}
		}
	}
}
$bg1: map-get($colors, pink);
$bg2: map-get($colors, green);
$bg3: map-get($colors, lBlue);
$bg4: map-get($colors, yellow);
$bg5: map-get($colors, dBlue);
$bg6: map-get($colors, pink);

#mainWrapper #content>div>.w-2col>.serviceBlock>.service{
	margin-top: 35px;
	&:first-child{
		margin-top: 0;
	}
	&:nth-child(1){
		.serviceTitle{
			color: $bg1;
		}
		.serviceItem{
			background: lighten( map-get($colors, pink) , 45% );
			&:hover{
				background: $bg1;
				box-shadow: 0px 11px 33px -7px rgba( $bg1 , 0.75);
			}
		}
	}
	&:nth-child(2){
		.serviceTitle{
			color: $bg2;
		}
		.serviceItem{
			background: lighten( map-get($colors, green) , 45% );
			&:hover{
				background: $bg2;
				box-shadow: 0px 11px 33px -7px rgba( $bg2 , 0.75);
			}
		}
	}
	&:nth-child(3){
		.serviceTitle{
			color: $bg3;
		}
		.serviceItem{
			background: lighten( map-get($colors, lBlue) , 45% );
			&:hover{
				background: $bg3;
				box-shadow: 0px 11px 33px -7px rgba( $bg3 , 0.75);
			}
		}
	}
	&:nth-child(4){
		.serviceTitle{
			color: $bg4;
		}
		.serviceItem{
			background: lighten( map-get($colors, yellow) , 45% );
			&:hover{
				background: $bg4;
				box-shadow: 0px 11px 33px -7px rgba( $bg4 , 0.75);
			}
		}
	}
	&:nth-child(5){
		.serviceTitle{
			color: $bg5;
		}
		.serviceItem{
			background: lighten( map-get($colors, dBlue) , 45% );
			&:hover{
				background: $bg5;
				box-shadow: 0px 11px 33px -7px rgba( $bg5 , 0.75);
			}
		}
	}
	&:nth-child(6){
		.serviceTitle{
			color: $bg1;
		}
		.serviceItem{
			background: lighten( map-get($colors, pink) , 45% );
			&:hover{
				background: $bg1;
				box-shadow: 0px 11px 33px -7px rgba( $bg1 , 0.75);
			}
		}
	}
}
#content .servicesList .free-record{
	margin-top: 40px;
}
#mainWrapper #content .servicesList .hpBestInRus{
	margin-top: 46px;
	.title, .t{
		display: none;
	}
	.items{
		.item{
			margin-top: 44px;
			display: block;
			float: none;
			width: 100%;
			padding: 0 30px;
			text-align: center;
			.text{
				font-size: 18px;
				line-height: 25px;
			}
		}
	}

}


#content .servicesDetailPage{
	.nav{
		padding-top: 32px;
    padding-bottom: 23px;
    padding-right: 35px;
		background: #faf9ee;
		border-radius: 5px;
		box-shadow: 0px 30px 35px -19px rgba( darken(#faf9ee , 15%), 0.5);
		li{
			position: relative;
			&:before{
				display: none;
			}
			a{
				color: map-get($colors, text);
				border-bottom: 1px solid map-get($colors, linkUnderH);
				&:hover{
					color: map-get($colors, pink);
				}
			}
			&.active{
				>a{
					color: map-get($colors, pink);
					border-bottom: 1px solid transparent;
				}
				&:before{
					content: '';
			    display: block;
			    width: 30px;
			    height: 3px;
			    background-color: map-get($colors, pink);
			    left: -14px;
			    top: 13px;
			    position: absolute;
				}
			}
		}
		.ul-nav{
			>li{
				margin-bottom: 10px;
				a{
					font-size: 20px;
					line-height: 30px;
					left: 30px;
					font-weight: 700;
					padding-bottom: 1px;
				}
			}
		}
		.child-nav{
			margin: 2px 0 11px;
			>li{
				margin: 4px 0;
				&:last-child{
			    margin-bottom: -1px;
				}
				a{
					font-size: 16px;
					line-height: 26px;
					font-weight: 400;
					padding-bottom: 2px;
				}
			}
		}

	}
}
#mainWrapper #content .servicesDetailPage{
	.section.articles{
		margin-top: 59px;
		h2{
			margin-bottom: 16px;
		}
	}
	.section.doctors{
		margin-top: 40px;
		h2{
			margin-bottom: 25px;
		}
	}
	.section.recalls{
		margin-top: 65px;
		h2{

		}
		.writeReviewBlock{
			margin-top: 8px;
		}
	}
}