@import "other/sprite";
@import "other/mixins";
/*stylesheet*/
$contentW : 1180px;

$c-1d3 : 380px;
$c-1d3-mar : 20px;
$c-1d4 : 280px;
$c-1d4-mar : 20px;
$c-1d5 : 220px;
$c-1d5-mar : 20px;
$c-1d6 : 180px;
$c-1d6-mar : 20px;
.w-1col{
  min-height: 1px;
  width: $c-1d3;
  float: left;
  margin-left: $c-1d3-mar;
  box-sizing: border-box;
}
.w-2col{
  min-height: 1px;
  width: calc( #{$c-1d3} *2 + #{$c-1d3-mar} );
  float: left;
  margin-left: $c-1d3-mar;
  box-sizing: border-box
}
.w-1d4col{
  min-height: 1px;
  width: $c-1d4;
  float: left;
  margin-left: $c-1d4-mar;
  box-sizing: border-box;
}
.w-2d4col{
  min-height: 1px;
  width: calc( #{$c-1d4} *2 + #{$c-1d4-mar} );
  float: left;
  margin-left: $c-1d4-mar;
  box-sizing: border-box;
}
.w-3d4col{
  min-height: 1px;
  width: calc( #{$c-1d4} *3 + #{$c-1d4-mar} *2 );
  float: left;
  margin-left: $c-1d4-mar;
  box-sizing: border-box;
}
.w-1d5col{
  min-height: 1px;
  width: $c-1d5;
  float: left;
  margin-left: $c-1d5-mar;
  box-sizing: border-box;
}
.w-2d5col{
  min-height: 1px;
  width: calc( #{$c-1d5} *2 + #{$c-1d5-mar} );
  float: left;
  margin-left: $c-1d5-mar;
  box-sizing: border-box;
}
.w-3d5col{
  min-height: 1px;
  width: calc( #{$c-1d5} *3 + #{$c-1d5-mar} *2 );
  float: left;
  margin-left: $c-1d5-mar;
  box-sizing: border-box;
}
.w-4d5col{
  min-height: 1px;
  width: calc( #{$c-1d5} *4 + #{$c-1d5-mar} *3 );
  float: left;
  margin-left: $c-1d5-mar;
  box-sizing: border-box;
}

.w-1d6col{
  min-height: 1px;
  width: $c-1d6;
  float: left;
  margin-left: $c-1d6-mar;
  box-sizing: border-box;
}
.w-2d6col{
  min-height: 1px;
  width: calc( #{$c-1d6} *2 + #{$c-1d6-mar} );
  float: left;
  margin-left: $c-1d6-mar;
  box-sizing: border-box;
}
.w-3d6col{
  min-height: 1px;
  width: calc( #{$c-1d6} *3 + #{$c-1d6-mar} *2 );
  float: left;
  margin-left: $c-1d6-mar;
  box-sizing: border-box;
}
.w-4d6col{
  min-height: 1px;
  width: calc( #{$c-1d6} *4 + #{$c-1d6-mar} *3 );
  float: left;
  margin-left: $c-1d6-mar;
  box-sizing: border-box;
}
.w-5d6col{
  min-height: 1px;
  width: calc( #{$c-1d6} *5 + #{$c-1d6-mar} *4 );
  float: left;
  margin-left: $c-1d6-mar;
  box-sizing: border-box;
}

.w-1col:first-child,
.w-2col:first-child,
.w-1d4col:first-child,
.w-2d4col:first-child,
.w-3d4col:first-child,
.w-1d5col:first-child,
.w-2d5col:first-child,
.w-3d5col:first-child,
.w-4d5col:first-child,
.w-1d6col:first-child,
.w-2d6col:first-child,
.w-3d6col:first-child,
.w-4d6col:first-child,
.w-5d6col:first-child{
  margin-left: 0;
}
.layoutW{
  width: $contentW;
  margin: 0 auto;
}
html, body{
  height: 100%;
}
body{
  min-height: 100%;
	font-family: 'Fira Sans';
  color: #333333;
	//color: map-get($colors, defaultText);
}
div{
	box-sizing: border-box;
}
a{
  color: map-get($colors, dBlue);
  text-decoration: none;
  transition: color 0.15s ease 0s;
  &:hover{
    text-decoration: none;
    color: map-get($colors, pink);
  }
}
b{
	font-weight: 600;
}
i{
	font-style: italic;
}
video{
  background: #000;
}
#content{
  padding-bottom: 140px;
  h1,h2,h3,h4{
    &:first-child{
      margin-top: 0;
    }
  }
  h1{
    font-size: 60px;
    line-height: 75px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 44px;
  }
  h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 44px;
  }
  h3{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 17px;
    margin-top: 33px;
  }
  h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 17px;
    margin-top: 33px;
  }
  p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  a{
    color: map-get($colors, dBlue);
    border-bottom: 1px solid map-get($colors, linkUnder);
    text-decoration: none;
    &:hover{
      color: map-get($colors, pink);
      text-decoration: none;
      border-bottom: 1px solid map-get($colors, linkUnderH);
    }
    >span{
      
    }
  }
}
.content{
  ol{
    margin: 0 0 25px 0;
    list-style: none; /* Убираем исходные маркеры */
    counter-reset:  item;
  }
  ol li{
    margin: 0 0 7px 0;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 25px;
  }
  ol>li:before{
    content: counter(item) '. '; /* Добавляем к числам скобку */
    counter-increment: item; /* Задаём имя счетчика */
    color: map-get($colors, desc);
    left: 0;
    top: 0;
    position: absolute;
    display: block;
  }
  /*обнуление внутренних инкрементов влияющих на внешний*/
  ol li ul{
    -reset: inner;
  }
  ol ul li{
    content: counter(inner) '. '; /* Добавляем к числам скобку */
    counter-increment: inner; /* Задаём имя счетчика */
  }
  ul{
    margin-bottom: 25px;
  }
  ul li{
    font-size: 16px;
    line-height: 25px;
    position: relative;
    padding-left: 20px;
    margin: 0 0 7px 0;
    &:last-child{
      margin-bottom: 0;
    }
  }
  ul li ul{
    margin-top: 25px;
  }
  ul li:before{
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: map-get($colors, text);
    left: 7px;
    top: 11px;
    position: absolute;
  }
  ul.succes,
  ul.error{
    margin: 25px 0;
    &:first-child{
      margin-top: 0;
    }
    li{
      line-height: 20px;
      padding-left: 47px;
      margin-bottom: 15px;
      &:before{
        top: -6px;
        @include sprite($s-ul-succes);
        background-color: transparent;
      }
    }
  }
  ul.succes{
    li{
      &:before{
        @include sprite($s-ul-succes);
      }
    }
  }
  ul.error{
    li{
      &:before{
        @include sprite($s-ul-error);
      }
    }
  }
}

table{
  border: 1px solid map-get($colors, lBlue);
  border-radius: 3px;
  border-collapse: separate;
  th{
    padding: 3px 6px;
    font-weight: bold;
  }
  td{
    padding: 3px 6px;
    border-bottom: 1px solid map-get($colors, ulBlue);
  }
  tr:last-child{
    td{
      border-bottom: none;
    }
  }
}


sup{
  font-size: 0.5em;
  top: -1em;
  position: relative;
	color: map-get($colors, desc);
}

.clear:after{
  content: "";
  display: table;
  clear: both;
}
#mainWrapper{
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
#mobile #mainWrapper{
  width: 1240px;
  margin: 0 auto;
}

.lBlue{
  color : map-get($colors, lBlue);
}

header{
  width: 1180px;
  margin: 0 auto;
  position: relative;
  padding-top: 21px;
  padding-bottom: 32px;
  font-size: 0;
  #headerLogo,
  #headerMenu,
  #headerContacts{
    display: inline-block;
    vertical-align: top;
  }
  #headerLogo{
    position: absolute;
    left: -1px;
    top: 46px;
    img{
      display: block;
    }
  }

  #headerMenu{
    margin-left: 419px;
    padding-top: 11px;
    width: 460px;
    ul{
      li{
        box-sizing: border-box;
        display: inline-block;
        white-space: nowrap;
        min-width: 151px;
        padding-right: 15px;
        margin-bottom: 10px;
        a{
          font-size: 20px;
          line-height: 40px;
          display: inline-block;
          font-weight: 600;
          height: 40px;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 0 10px;
          span{
            padding-bottom: 1px;
            border-bottom: 1px solid map-get($colors, dBlue);
          }
          &:nth-child(n):hover span{
            border-bottom: 1px solid transparent;
          }
          &:nth-child(n).selected{
            color: #fff;
            background: map-get($colors, dBlue);
            span{
              border-bottom: 1px solid transparent;
            }
          }
        }
        &:nth-child(1) a{
          color: map-get($colors, dBlue);
          span{
            border-bottom-color: map-get($colors, dBlue);
          }
          &.selected{
            background: map-get($colors, dBlue);
          }
        }
        &:nth-child(2) a{
          color: map-get($colors, lBlue);
          span{
            border-bottom-color: map-get($colors, lBlue);
          }
          &.selected{
            background: map-get($colors, lBlue);
          }
        }
        &:nth-child(3) a{
          color: map-get($colors, purple);
          span{
            border-bottom-color: map-get($colors, purple);
          }
          &.selected{
            background: map-get($colors, purple);
          }
        }
        &:nth-child(4) a{
          color: map-get($colors, pink);
          span{
            border-bottom-color: map-get($colors, pink);
          }
          &.selected{
            background: map-get($colors, pink);
          }
        }
        &:nth-child(5) a{
          color: map-get($colors, green);
          span{
            border-bottom-color: map-get($colors, green);
          }
          &.selected{
            background: map-get($colors, green);
          }
        }
        &:nth-child(6) a{
          color: map-get($colors, yellow);
          span{
            border-bottom-color: map-get($colors, yellow);
          }
          &.selected{
            background: map-get($colors, yellow);
          }
        }
      }
    }
  }

  #headerContacts{
    float: right;
    padding-top: 21px;
    padding-right: 13px;
    .phone{
      font-size: 25px;
      line-height: 25px;
      font-weight: 600;
      color: #231f20;
      margin-left: -3px;
      span{
        font-size: 20px;
      }
    }
    .adress{
      color: map-get($colors, desc);
      font-size: 14px;
      line-height: 23px;
      padding-bottom: 8px;
    }
    .desc{
      font-size: 14px;
      line-height: 16px;
      font-style: italic;
      a{
        border-bottom: 1px solid map-get($colors, dBlue);
        &:hover{
          border-bottom: 1px solid transparent;
          text-decoration: none;
        }
      }
    }
  }
}
.pageTitle{
  width: $contentW;
  margin: 0 auto;
  h1{
    font-size: 70px;
    line-height: 75px;
    font-weight: bold;
  }
}
#content{
  width: 1180px;
  margin: 0 auto;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .contactsBlock{
    position: relative;
    z-index: 1;
    width: 1180px;
    margin: 0 auto -30px;
    .contactsMapW{
      height: 500px;
      will-change: transform;
      position: relative;
      overflow: hidden;
      -webkit-box-shadow: 0px 38px 80px 0px rgba(73,98,99,0.8);
      -moz-box-shadow: 0px 38px 80px 0px rgba(73,98,99,0.8);
      box-shadow: 0px 38px 80px 0px rgba(73,98,99,0.8);
      transform: rotate(-2deg);
      border: 5px solid #f5f5f5;
      box-sizing: border-box;
      left: -2px;
      top: -7px;
      #contactsMap{
        position: absolute;
        top: -20px;
        left: -30px;
        width: 830px;
        height: 540px;
        will-change: transform;
        transform: rotate(2deg);
        background: #fff;
        border: 1px solid #000;
        box-sizing: border-box;
        .btn{
          display: block;
          text-shadow: none;
          border: none;
          background: transparent;
          cursor: pointer;
          width: 36px;
          height: 36px;
          position: relative;
          user-select: none;
          border-radius: 100%;
          margin-top: 8px;
          &:first-child{
            margin-top: 0;
          }
          i{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0;
            &:before{
              display: none;
            }
          }
        }
        #zoom-in{
          @include sprite($s-contacts-mapZoomIn);
        }
        #zoom-out{
          @include sprite($s-contacts-mapZoomOut);
        }
      }
    }
    .contactsText{
      padding-left: 30px;
      .item{
        margin-top: 10px;
        &:first-child{
          margin-top: 0;
        }
        &:last-child{
          margin-top: 35px;
        }
        .title{
          color: map-get($colors, desc);
          font-size: 16px;
          line-height: 25px;
        }
        .desc{
          font-size: 18px;
          line-height: 25px;
        }
        &.phone{
          a{
            color: map-get($colors, text);
          }
        }
      }
    }
  }

  #bottomMenu{
    font-size: 16px;
    line-height: 20px;
    position: relative;
    color: #fff;
    background: map-get($colors, green);
    padding-top: 83px;
    padding-bottom: 58px;
    &:before{
      position: absolute;
      top: -102px;
      content: '';
      display: block;
      width: 100%;
      height: 103px;
      background: transparent url(../images/footerBg.png) repeat-x 131px bottom;
    }
    .item{
      margin-top: 15px;
      a{
        color: #fff;
        &:hover{
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }
      }
      &:first-child{
        margin-top: 0;
      }
      &.main{
        font-size: 20px;
        font-weight: 700;
      }
    }
    .menuLc, .menuMc{
      .item.main{
        margin-bottom: 17px;
      }
    }
    .rc{
      width: 480px;
      color: #fff;
      .t{
        margin-top: -16px;
        margin-bottom: 27px;
        .lb{
          float: left;
          border: 2px dashed #fff;
          border-radius: 10px;
          padding: 16px 25px 20px 19px;
          .text{
            font-size: 16px;
            line-height: 20px;
            font-style: italic;
            margin-bottom: 10px;
          }
          .icons{
            font-size: 0;
            margin-left: -1px;
            >div{
              display: inline-block;
              vertical-align: top;
              margin-left: 5px;
              &:first-child{
                margin-left: 0;
              }
            }
            .visa{
              &:after{
                display: block;
                content: '';
                position: relative;
                @include sprite($s-mIcoWhite_visa);
              }
            }
            .mastercard{
              &:after{
                display: block;
                content: '';
                position: relative;
                @include sprite($s-mIcoWhite_mastercard);
              }
            }
            .koshel{
              &:after{
                display: block;
                content: '';
                position: relative;
                @include sprite($s-mIcoWhite_koshel);
              }
            }
          }
        }
        .rb{
          float: left;
          font-size: 20px;
          line-height: 35px;
          font-weight: 700;
          position: relative;
          margin-top: 9px;
          margin-left: 41px;
          &:before{
            content: '';
            position: absolute;
            right: 26px;
            top: 3px;
            @include sprite($s-mIcoWhite_sale);
          }
        }
      }
      .socialLinks{
        margin-top: 10px;
        margin-left: -1px;
        font-size: 0;
        >a{
          box-sizing: border-box;
          color: #fff;
          font-size: 14px;
          line-height: 36px;
          display: inline-block;
          vertical-align: top;
          border: 2px solid #fff;
          border-radius: 4px;
          width: 120px;
          height: 40px;
          padding-left: 37px;
          position: relative;
          margin-left: 10px;
          transition: all 0.2s ease 0s;
          &:hover{
            border-color: map-get($colors, pink);
            color: map-get($colors, pink);
          }
          &:first-child{
            margin-left: 0;
          }
          .icon{
            fill: #fff;
            transition: fill 0.15s ease;
            width: 30px;
            height: 30px;
            position: absolute;
          }
          &:hover{
            .icon{
              fill: map-get($colors, pink);
            }
          }
          // &:before{
          //   content: '';
          //   position: absolute;
          // }
        }
        .vk{
          .icon{
            top: 3px;
            left: 2px;
          }
        }
        .fb{
          .icon{
            top: 3px;
            left: 4px;
          }
        }
        .ig{
          .icon{
            top: 3px;
            left: 3px;
          }
        }
        // .vk{
        //   &:before{
        //     top: 11px;
        //     left: 5px;
        //     @include sprite($s-mIco_social-vk-white);
        //   }
        // }
        // .fb{
        //   &:before{
        //     top: 7px;
        //     left: 13px;
        //     @include sprite($s-mIco_social-fb-white);
        //   }
        // }
        // .ig{
        //   &:before{
        //     top: 5px;
        //     left: 5px;
        //     @include sprite($s-mIco_social-ig-white);
        //   }
        // }
      }
    }/*end menu rc*/
  }

  .bb{
    font-size: 14px;
    line-height: 60px;
    color: #fff;
    background: #639200;
    padding-bottom: 37px;
    position: relative;
    height: 60px;
    .copyright{
      float: left;
      width: 500px;
      padding-right: 20px;
    }
    .siteMap{
      float: left;
      width: 100px;
    }
    .adultDepartment{
      float: right;
    }
  }
}
/*fix white line*/
#mobile footer #bottomMenu:after, #mobile footer .bb:after{
  position: absolute;
  top: -2px;
  height: 4px;
  content: '';
  display: block;
  width: 100%;
  background: #89af0f;
}
    



input, textarea{
  background: #fff;
  border-radius: 2px;
  border: 1px solid map-get($colors, lBlue);
  box-sizing: border-box;
}
input[type='text'],input[type='email']{
  box-sizing: border-box;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  background: #fff;
  padding: 0 16px;
  &::placeholder{
    color: #cccccc;
  }
}
textarea{
  &::placeholder{
    color: #cccccc;
  }
}
label{
  cursor: pointer;
  user-select: none;
}
input[type='checkbox']{
  cursor: pointer;
}
.custom-checkbox{
  user-select: none;
  cursor: pointer;
  position:relative;
  display:inline-block;
}
.ie8 .custom-checkbox{
  zoom:1;
}
.custom-checkbox>.box{
  position:relative;
  display:block;
  width:14px;
  height:14px;
  border:1px solid map-get($colors, lBlue);;
  background-color:#fff;
  border-radius:3px;
}
.custom-checkbox>.box>.tick{
  position:absolute;
  left:2px;
  top: -1px;
  width: 11px;
  height: 7px;
  border-bottom:2px solid #333;
  border-left:2px solid #333;
  transform:rotate(-45deg);
  display:none;
}
.oldie .custom-checkbox>.box>.tick{
  left:1px;
  top:-5px;
  zoom:1;
}
.custom-checkbox>input:checked+.box>.tick{
  display:block;
}
.custom-checkbox.checked>.box>.tick{
  display:block;
}
.custom-checkbox>input{
  position:absolute;
  outline:none;
  left:0;
  top:0;
  padding:0;
  width:16px;
  height:16px;
  border:none;
  margin:0;
  opacity:0;
  z-index:1;
  cursor: pointer;
}
.custom-radiobox{
  user-select: none;
  cursor: pointer;
  position:relative;
  display:inline-block;
}
.ie8 .custom-radiobox{
  zoom:1;
}
.custom-radiobox>.box{
  position:relative;
  box-sizing: border-box;
  display:block;
  width:16px;
  height:16px;
  border:1px solid map-get($colors, lBlue);
  background-color:#fff;
  border-radius: 100%;
  cursor: pointer;
}
.custom-radiobox>.box>.dot{
  position:absolute;
  background: #333333;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: none;
}
.oldie .custom-radiobox>.box>.dot{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  zoom: 1;
}
.custom-radiobox>input:checked+.box>.dot{
  display:block;
}
.custom-radiobox.checked>.box>.dot{
  display:block;
}
.custom-radiobox>input{
  position:absolute;
  outline:none;
  left:0;
  top:0;
  padding:0;
  width:16px;
  height:16px;
  border:none;
  margin:0;
  opacity:0;
  z-index:1;
}
#content input[type='submit'], button, .defaultButton, input[type='submit']{
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  background: map-get($colors, pink);
  border-radius: 3px;
  padding: 0 18px 0 16px;
  letter-spacing: 0px;
  height: 50px;
  &:disabled{
    background: map-get($colors, desc);
  }
}
/*======================================
  Selectric v1.10.0
======================================*/
/*default select mobile*/
select{
    height: 50px;
    background: #fff url(../images/optionSelectArrowMobile.png) no-repeat 95% center;
    border: 2px solid #1bbee8;
    width: 100%;
    box-sizing: border-box;
    color: #1bbee8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    font-size: 18px;
    line-height: 49px;
    padding: 0 38px 0 10px;
    letter-spacing: .75px;
    border-radius: 5px;
    &:first-child{
      margin-left: 0;
    }
}
    
/*default select mobile END*/

.mfp-wrap, #content{
  .selectric-wrapper {
    position: relative;
    cursor: pointer;
  }

  .selectric-responsive {
    width: 100%;
  }

  .selectric {
    border: 2px solid map-get($colors, lBlue);
    background: #fff;
    position: relative;
    border-radius: 3px;
  }
  .blueSelect .selectric{
    height: 38px;
    background: map-get($colors, defaultBlue);
    border: 1px solid map-get($colors, defaultBlue);
    color: #fff;
  }
  .selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 38px 0 10px;
    font-size: 12px;
    line-height: 36px;
    height: 36px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .blueSelect .selectric .label {
    color: #fff;
    font-size: 14px;
  }
  .selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    color: #BBB;
    text-align: center;
    font: 0/0 a;
    *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
  }
  .selectric .button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    @include sprite($s-optionSelectArrowlBlueDefault);
  }

  // .selectric-focus .selectric {
  //   border-color: #AAA;
  // }

  .selectric-hover .selectric {
    border-color: map-get($colors, lBlue);
  }
  .selectric-hover .selectric .button {
    color: #A2A2A2;
  }
  .selectric-hover .selectric .button:after {
    border-top-color: #A2A2A2;
  }

  .selectric-open {
    z-index: 9999;
  }
  .selectric-open{
    .selectric{
      border-radius: 3px 3px 0 0;
    }
    &.selectric-above{
      .selectric{
        border-radius: 0 0 3px 3px;
      }
    }
  }
  .selectric-open .selectric {
    border-color: map-get($colors, lBlue);
    background: map-get($colors, lBlue);
    color: #fff;
  }
  .selectric-open .selectric .button:after {
    @include sprite($s-optionSelectArrowWhiteDefault);
  }
  .selectric-open .selectric  .label{
    color: #fff;
  }

  .selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
  }
  .selectric-hide-select select {
    position: absolute;
    left: -100%;
    display: none;
  }
  
  .selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
  }

  .selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
  }

  /* Items box */
  .selectric-open .selectric-items{
    display: block;
  }
  .selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 3px 3px;
    background: #F8F8F8;
    border: 1px solid map-get($colors, lBlue);
    border-top: none;
    z-index: -1;
    box-shadow: 0px 11px 33px -7px rgba( map-get($colors, lBlue) , 0.75);
  }
  .selectric-above .selectric-items{
    border: 1px solid map-get($colors, lBlue);
    border-bottom: none;
    border-radius: 3px 3px 0 0 ;
  }
  .selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto;
  }
  .selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
  }
  .selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
  }
  .selectric-items li {
    margin: 0;
    display: block;
    padding: 10px 10px 9px;
    color: #097ad6;
    cursor: pointer;
    box-sizing: border-box;
    border-top: 1px solid map-get($colors, linkUnder);
    &:first-child{
      border-top: none;
    }
  }
  .selectric-items li:before{
    display: none;
  }
  .selectric-items li.selected {
    display: none;
  }
  .selectric-items li:hover {
    color: map-get($colors, pink);
  }
  .selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: none;
    color: #444;
  }
  .selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .selectric-items .selectric-group li {
    padding-left: 25px;
  }
}
/*END SELECTRIC*/

.triangle{
  will-change: transform;
  $size : 10px;
  $brs : 30%;
  width: $size;
  height: $size;
  border-top-right-radius: $brs;
  position: relative;
  background-color: #fff;
  text-align: left;
  transform: rotate(-210deg) skewX(-30deg) scale(1,.866);
  &:before, &:after{
    width: $size;
    height: $size;
    border-top-right-radius: $brs;
    content: '';
    position: absolute;
    background-color: inherit;
  }
  &::before{
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  &:after{
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }
}
.videoPlayButton{
  will-change: transform;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 98px;
  height: 98px;
  background: transparent;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  &:before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: map-get($colors, green);
    opacity: 0.85;
    transition: all 0.3s ease 0s;
  }
  .triangle{
    will-change: transform;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 11px;
    right: 9px;
    margin: auto;
    background: #fff;
    &:before, &:after{
      width: 20px;
      height: 20px;
    }
  }
  &:hover{
    &:before{
      background: map-get($colors, pink);
      opacity: 1;
    }
  }
}
#content .customIconsMenu{
  .items{
    .item{
      display: block;
      float: left;
      width: 20%;
      padding: 0 2px;
      border-bottom: none;
      box-sizing: border-box;
      i{
        position: relative;
        width: 100%;
        height: 70px;
        display: block;
        &:before{
          content: '';
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      .text{
        display: block;
        margin-top: 6px;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.1px;
        span{
          
        }
      }
      svg{
        position: relative;
        width: 63px;
        margin: 0 auto;
        height: 70px;
        display: block;
        transition: fill 0.15s ease;
      }
      &.clown svg{
        top: 6px;
        fill: map-get($colors, green);
      }
      &.sun svg{
        top: 9px;
        fill: map-get($colors, yellow);
      }
      &.alert svg{
        fill: map-get($colors, pink);
      }
      &.pillow svg{
        top: 10px;
        fill: map-get($colors, lBlue);
      }
      &.kid svg{
        top: 8px;
        fill: map-get($colors, dBlue);
      }

      // &.clown i:before{
      //   top: 6px;
      //   @include sprite($s-siteIcons-clown_green);
      // }
      // &.sun i:before{
      //   top: 9px;
      //   @include sprite($s-siteIcons-sun_yellow);
      // }
      // &.mayak i:before{
      //   @include sprite($s-siteIcons-mayak_pink);
      // }
      // &.podushka i:before{
      //   top: 10px;
      //   @include sprite($s-siteIcons-podushka_lblue);
      // }
      // &.boy i:before{
      //   top: 8px;
      //   @include sprite($s-siteIcons-boy_dblue);
      // }
      &:hover{
        svg.icon{
          fill: map-get($colors, pink);
        }
      }
    }
  }
}
.ruble14pxGrey{
  display: inline-block;
  position: relative;
  bottom: -1px;
  @include sprite($s-symbol_rubleGrey14px);
}
#content .pagenation{
  margin-top: 32px;
  .prev,.next{
    a,span{
      border-style: solid;
      font-size: 18px;
      height: 50px;
      line-height: 48px;
      overflow: hidden;
      display: block;
      box-sizing: border-box;
    }
    span{
      position: relative;
      border-width: 1px;
      border-radius: 5px;
      background-color: #fff;
      border-color: map-get($colors, lgray);
      color: map-get($colors, lgray);
    }
    a{
      position: relative;
      border-width: 2px;
      border-radius: 5px;
      color: #fff;
      background-color: map-get($colors, lBlue);
      border-color: map-get($colors, lBlue);
      transition: all 0.12s ease-in-out;
      &:hover{
        background-color: map-get($colors, pink);
        border-color: map-get($colors, pink);
      }
    }
    &.disabled a{
      position: relative;
      border-width: 1px;
      border-radius: 5px;
      background-color: #fff;
      border-color: map-get($colors, lgray);
      color: map-get($colors, lgray);
    }
  }
  .prev{
    float: left;
    width: calc(100% - 77.7777% - 13.33333px);
    text-align: right;
    span, a{
      padding-right: 20px;
      &:after, &:before {
        right: 100%;
        margin-right: -20px;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        transition: all 0.12s ease-in-out;
      }
      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: map-get($colors, lBlue);
        border-width: 6px;
        margin-top: -6px;
      }
      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #fff;
        border-width: 9px;
        margin-top: -9px;
      }
    }
    a:hover{
      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: map-get($colors, pink);
        border-width: 6px;
        margin-top: -6px;
      }
      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #fff;
        border-width: 9px;
        margin-top: -9px;
      }
    }
    span{
      &:after {
        border-right-color: #fff;
      }
      &:before {
        border-right-color: map-get($colors, lgray);
      }
    }
    &.disabled a{
      &:after {
        border-right-color: #fff;
      }
      &:before {
        border-right-color: map-get($colors, lgray);
      }
    }
  }
  .next{
    float: left;
    width: calc(100% - 77.7777% - 13.33333px);
    margin-left: 20px;
    text-align: left;
    span, a{
      padding-left: 20px;
      &:after, &:before {
        left: 100%;
        margin-left: -20px;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        transition: all 0.12s ease-in-out;
      }
      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: map-get($colors, lBlue);
        border-width: 6px;
        margin-top: -6px;
      }
      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: #fff;
        border-width: 9px;
        margin-top: -9px;
      }
    }
    a:hover{
      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: map-get($colors, pink);
        border-width: 6px;
        margin-top: -6px;
      }
      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: #fff;
        border-width: 9px;
        margin-top: -9px;
      }
    }
    span{
      &:after {
        border-left-color: #fff
      }
      &:before {
        border-left-color: map-get($colors, lgray);
      }
    }
    &.disabled a{
     &:after {
        border-left-color: #fff
      }
      &:before {
        border-left-color: map-get($colors, lgray);
      } 
    }
  }
  .center{
    font-size: 18px;
    height: 50px;
    line-height: 48px;
    overflow: hidden;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;
    width: calc(100% - 44.44444% - 13.33333px);
    margin-left: 20px;
    float: left;
    border: 1px solid map-get($colors, lgray);
    transition: border-color 0.13s ease-in-out;
    &:hover{
      border: 1px solid map-get($colors, pink);
    }
    .centerTextBlock{
      cursor: pointer;
    }
    .cur{
      color: map-get($colors, dBlue);
    }
    .all{
      color: map-get($colors, lgray);
    }
    .navHelper{
      border: none;
      width: 100%;
      height: 100%;
      height: 50px;
      line-height: 48px;
      text-align: center !important;

    }
  }
}
#content .zoom-gallery{
  a{
    border-bottom: none;
  }
}

#content .free-record{
  background: #f8f369;
  box-shadow: 0px 11px 33px -7px rgba( #f8f369 , 0.7);
  border-radius: 5px;
  margin-top: 31px;
  padding: 32px 30px 30px;
  box-sizing: border-box;
  .title{
    font-size: 24px;
    line-height: 28px;
    font-style: italic;
    font-weight: 700;
    padding-left: 1px;
    margin-bottom: 18px;
  }
  .error{
    
  }
  input[type='text']{
    font-size: 16px;
    line-height: 20px;
    color: map-get($colors, text);
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    height: 50px;
    line-height: 48px;
    width: 100%;
    margin-bottom: 10px;
  }
  .free-record-button{
    border-radius: 6px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    height: 50px;
    padding: 0 20px;
    letter-spacing: -0.5px;
    font-weight: 700;
  }
  .free-record-text{
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    margin-top: 17px;
  }
}
#content .w-2col .free-record{
  margin-top: 28px;
  padding: 34px 30px 36px;
  .title{
    margin-bottom: 14px;
    br{
      display: none;
    }
  }
  input{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-left: 7px;
    &[type="text"]{
      width: 240px;
    }
    &[name="form_text_1"]{
      margin-left: 0;
    }
  }
  .free-record-text{
    color: map-get($colors, pink);
    margin-top: 8px;
  }
}
#content{
  a.backButton{
    font-size: 18px;
    line-height: 50px;
    position: relative;
    padding: 0 20px 0 48px;
    height: 50px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: rgba(0, 93, 151, 0.1);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAgCAMAAAAootjDAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAARnQU1BAACxjwv8YQUAAAABc1JHQgCuzhzpAAAAOVBMVEUAAAAAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZcAXZfGBLblAAAAEnRSTlMAWE/pV01O/PlZUOdUTOXkSUpSqu0uAAAAWUlEQVQoz7XSSQ6AIBBEUeZJFO37H5YENnQKYiKxl2/XlS8Eu3Rpy8V4Ig1CBSTcIArEDSI/SWxif5Dc5BwfO0A68Y2yR4tLcxummMkNM0tLE3teAphl0mOqTOMJgqsfPLwAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-size: 9px 16px;
    background-position: 20px center;
    &:hover{
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAgCAMAAAAootjDAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAARnQU1BAACxjwv8YQUAAAABc1JHQgCuzhzpAAAAOVBMVEUAAADtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrtEHrFkjEAAAAAEnRSTlMAWE/pV01O/PlZUOdMVOXkSUrtv7GbAAAAWUlEQVQoz7XSSQ6AIBBEUeZJEe37H5YENnQKYiKxl2/XlS8Eu3Rpy8V4Ig1CBSTcIArEDSI/SWxif5Dc5BwfO0A68Y2yR4tLcxummMkNM0tLE3teAphl0mOqTMgJgkXc6rgAAAAASUVORK5CYII=');
      background-color: rgba(237, 16, 122, 0.1);
    }
  }
}
#content .salesItem{
  display: block;
  border: none;
  position: relative;
  background: rgba( map-get($colors, green) , 0.1);
  border-radius: 5px;
  padding: 22px 10px 21px 55px;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  &:hover{
    border: none;
    background: rgba( map-get($colors, pink), 0.1 );
    .name{
      color: map-get($colors, pink);
    }
    .icon{
      fill: map-get($colors, pink);
    }
  }
  .icon{
    transition: all 0.2s ease-in-out;
    display: block;
    width: 30px;
    height: 30px;
    fill: map-get($colors, green);
    position: absolute;
    left: 17px;
    top: 15px;
  }
  .name{
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 1px;
    transition: color 0.2s ease-in-out;
  }
}
#content .fileItem{
  display: block;
  border: none;
  position: relative;
  background: map-get($colors, ulBlue);
  border-radius: 5px;
  padding: 15px 10px 12px 55px;
  transition: all 0.2s ease-in-out;
  &:hover{
    border: none;
    background: rgba( map-get($colors, pink), 0.1 );
    .name{
      color: map-get($colors, pink);
    }
    .icon{
      fill: map-get($colors, pink);
    }
  }
  .icon{
    transition: all 0.2s ease-in-out;
    display: block;
    width: 24px;
    height: 37px;
    fill: map-get($colors, lBlue);
    position: absolute;
    left: 19px;
    top: 13px;
  }
  .name{
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 1px;
    transition: color 0.2s ease-in-out;
  }
  .desc{
    font-size: 12px;
    line-height: 16px;
    color: map-get($colors, desc);
  }
}
#content .docNoteBlock{
  a{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    border-radius: 3px;
    border: 2px dashed map-get($colors, lBlue);
    box-sizing: border-box;
    display: block;
    transition: all 0.12s ease-in-out;
    position: relative;
    padding: 15px 19px 45px;
    margin-bottom: 20px;
    color: map-get($colors, text);
    &:after{
      transition: all 0.12s ease-in-out;
      opacity: 1;
      content: '';
      position: absolute;
      right: 19px;
      bottom: 15px;
      @include sprite($s-mIcoLBlue_arrowRight);
      z-index: 1;
    }
    &:before{
      transition: all 0.12s ease-in-out;
      opacity: 0;
      content: '';
      position: absolute;
      right: 19px;
      bottom: 15px;
      @include sprite($s-mIcoPink_arrowRight);
      z-index: 1;
    }
    &:hover{
      border: 2px dashed map-get($colors, Pink);
      color: map-get($colors, pink);
      &:after{
        opacity: 0;
      }
      &:before{
        opacity: 1;
      }
    }
  }
}
.writeReviewBlock{
  margin-top: 30px;
  background: #f8f369;
  box-shadow: 0px 11px 33px -7px rgba( #f8f369 , 0.7);
  border-radius: 5px;
  padding: 29px 30px 34px;
  .title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 9px;
  }
  .text{
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .defaultButton{
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    padding: 0 31px;
  }
  .writeReviewForm{
    display: none;
  }
}

.defaultSlider{
  position: relative;
  transition: height 0.2s ease;
  .slide{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    display: block;
    transition: all 0.2s ease;
    &.current{
      opacity: 1;
      z-index: 1;
    }    
  }
}
blockquote.blueLeft{
  border-left: 5px solid map-get($colors, lBlue);
  padding: 5px 20px 8px 17px;
  margin: 25px 0;
  &:first-child{
    margin-top: 0;
  }
  .text{
    font-size: 16px;
    line-height: 25px;
  }
  .person{
    display: table;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    margin-top: 26px;
    .l{
      display: table-cell;
      vertical-align: top;
      .imgW{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 10px;
        position: relative;
        overflow: hidden;
        background: #e9efef;
        img{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          height: auto;
          max-width: 100%;
        }
      }
    }
    .r{
      display: table-cell;
      vertical-align: top;
      .name{
        white-space: nowrap;
        color: map-get($colors, text);
        margin-bottom: 4px;
      }
      .position{
        white-space: nowrap;
        color: map-get($colors, desc);
        font-style: italic;
      }
    }
  }
}