/*stylesheet*/
body{
	font-family: 'FiraSans';
	//color: map-get($colors, defaultText);
}
div{
	box-sizing: border-box;
}
b{
	font-weight: 600;
}
i{
	font-style: italic;
}
video{
  background: #000;
}
#content{
  h1{
    font-size: 70px;
    line-height: 75px;
  }
  h3{
    font-size: 30px;
    line-height: 30px;
  }
  p{

  }

}

sup{
  font-size: 0.5em;
  top: -1em;
  position: relative;
	color: map-get($colors, defaultDescription);
}

.clear:after{
  content: "";
  display: table;
  clear: both;
}



#mainWrapper{
  width: 1180px;
  margin: 0 auto;
}
footer{
  color: #fff;
  background: map-get($colors, defaultGreen);
}