/*stylesheet*/
body{
	font-family: 'FiraSans';
	//color: map-get($colors, defaultText);
}
div{
	box-sizing: border-box;
}
b{
	font-weight: 800;
}
i{
	font-style: italic;
}
h1,h2,h3,h4,h5{
	//color: map-get( $colors, defaultHeader);
}
video{
  background: #000;
}
sup{
  font-size: 0.5em;
  top: -1em;
  position: relative;
	//color: map-get($colors, defaultDescription);
}

.clear:after{
  content: "";
  display: table;
  clear: both;
}