.svgIcon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svgIcon-icon-alert {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svgIcon-icon-arrow1-left {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-arrow1-right {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-arrow2-left {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-arrow2-right {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-clown {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svgIcon-icon-eye {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-facebook {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-facebook-white {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-fileDownload {
	font-size:(37/10)*1rem;
	width:(24/37)*1em;
}
.svgIcon-icon-heart {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svgIcon-icon-instagram-white {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-kid {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svgIcon-icon-mastercard {
	font-size:(30/10)*1rem;
	width:(50/30)*1em;
}
.svgIcon-icon-odnoklassniki {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-pillow {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svgIcon-icon-pocket {
	font-size:(30/10)*1rem;
	width:(42/30)*1em;
}
.svgIcon-icon-print {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-refresh {
	font-size:(28/10)*1rem;
	width:(30/28)*1em;
}
.svgIcon-icon-sale {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-star {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-star-pink {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-sun {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svgIcon-icon-telegram {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-twitter {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-update {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svgIcon-icon-visa {
	font-size:(30/10)*1rem;
	width:(50/30)*1em;
}
.svgIcon-icon-vkontakte {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-vkontakte-white {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.svgIcon-icon-wreath-left {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.svgIcon-icon-wreath-right {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
