$s-contacts-mapZoomIn: 135px, 34px, -135px, -34px, 36px, 36px, 219px, 208px, 'sprite.png';
$s-contacts-mapZoomOut: 135px, 74px, -135px, -74px, 36px, 36px, 219px, 208px, 'sprite.png';
$s-hpVideoRow_t1: 45px, 101px, -45px, -101px, 36px, 22px, 219px, 208px, 'sprite.png';
$s-hp_mainSlider-arrowLeft: 0px, 0px, 0px, 0px, 41px, 63px, 219px, 208px, 'sprite.png';
$s-hp_mainSlider-arrowLeftPink: 45px, 0px, -45px, 0px, 41px, 63px, 219px, 208px, 'sprite.png';
$s-hp_mainSlider-arrowRight: 90px, 0px, -90px, 0px, 41px, 63px, 219px, 208px, 'sprite.png';
$s-hp_mainSlider-arrowRightPink: 0px, 67px, 0px, -67px, 41px, 63px, 219px, 208px, 'sprite.png';
$s-mIcoLBlue_arrowRight: 85px, 101px, -85px, -101px, 24px, 18px, 219px, 208px, 'sprite.png';
$s-mIcoPink_arrowRight: 189px, 143px, -189px, -143px, 24px, 18px, 219px, 208px, 'sprite.png';
$s-mIcoWhite_VideoPlayRectangle: 189px, 0px, -189px, 0px, 30px, 37px, 219px, 208px, 'sprite.png';
$s-mIcoWhite_arrowRight: 135px, 114px, -135px, -114px, 23px, 16px, 219px, 208px, 'sprite.png';
$s-mIcoWhite_koshel: 0px, 134px, 0px, -134px, 42px, 30px, 219px, 208px, 'sprite.png';
$s-mIcoWhite_mastercard: 45px, 67px, -45px, -67px, 50px, 30px, 219px, 208px, 'sprite.png';
$s-mIcoWhite_visa: 135px, 0px, -135px, 0px, 50px, 30px, 219px, 208px, 'sprite.png';
$s-mIco_social-fb-white: 0px, 186px, 0px, -186px, 11px, 22px, 219px, 208px, 'sprite.png';
$s-mIco_social-fb: 114px, 134px, -114px, -134px, 30px, 30px, 219px, 208px, 'sprite.png';
$s-mIco_social-ig-white: 148px, 134px, -148px, -134px, 26px, 26px, 219px, 208px, 'sprite.png';
$s-mIco_social-ok: 46px, 134px, -46px, -134px, 30px, 30px, 219px, 208px, 'sprite.png';
$s-mIco_social-telegram: 80px, 134px, -80px, -134px, 30px, 30px, 219px, 208px, 'sprite.png';
$s-mIco_social-tw: 99px, 67px, -99px, -67px, 30px, 30px, 219px, 208px, 'sprite.png';
$s-mIco_social-vk-white: 0px, 168px, 0px, -168px, 24px, 14px, 219px, 208px, 'sprite.png';
$s-mIco_social-vk: 189px, 109px, -189px, -109px, 30px, 30px, 219px, 208px, 'sprite.png';
$s-optionSelectArrowWhiteDefault: 113px, 101px, -113px, -101px, 16px, 9px, 219px, 208px, 'sprite.png';
$s-optionSelectArrowlBlueDefault: 48px, 168px, -48px, -168px, 16px, 9px, 219px, 208px, 'sprite.png';
$s-sIcoDBlue_arrowRight: 15px, 186px, -15px, -186px, 12px, 11px, 219px, 208px, 'sprite.png';
$s-sIcoGrey_date: 162px, 114px, -162px, -114px, 16px, 14px, 219px, 208px, 'sprite.png';
$s-sIcoGrey_eye: 28px, 168px, -28px, -168px, 16px, 9px, 219px, 208px, 'sprite.png';
$s-symbol_rubleGrey14px: 175px, 34px, -175px, -34px, 9px, 12px, 219px, 208px, 'sprite.png';
$s-ul-error: 189px, 75px, -189px, -75px, 30px, 30px, 219px, 208px, 'sprite.png';
$s-ul-succes: 189px, 41px, -189px, -41px, 30px, 30px, 219px, 208px, 'sprite.png';
