$s-hp_mainSlider-arrowLeft: 0px, 0px, 0px, 0px, 41px, 63px, 180px, 163px, 'sprite.png';
$s-hp_mainSlider-arrowRight: 45px, 0px, -45px, 0px, 41px, 63px, 180px, 163px, 'sprite.png';
$s-mIcoBlack_printer: 136px, 111px, -136px, -111px, 24px, 24px, 180px, 163px, 'sprite.png';
$s-mIcoBlue_beidj: 134px, 34px, -134px, -34px, 40px, 30px, 180px, 163px, 'sprite.png';
$s-mIcoBlue_gramota: 90px, 0px, -90px, 0px, 40px, 50px, 180px, 163px, 'sprite.png';
$s-mIcoBlue_nlo: 0px, 67px, 0px, -67px, 40px, 40px, 180px, 163px, 'sprite.png';
$s-mIcoLBlue_arrowRight: 0px, 145px, 0px, -145px, 24px, 18px, 180px, 163px, 'sprite.png';
$s-mIcoWhite_VideoPlayRectangle: 134px, 68px, -134px, -68px, 30px, 37px, 180px, 163px, 'sprite.png';
$s-mIcoWhite_mastercard: 44px, 67px, -44px, -67px, 46px, 30px, 180px, 163px, 'sprite.png';
$s-mIcoWhite_visa: 134px, 0px, -134px, 0px, 46px, 30px, 180px, 163px, 'sprite.png';
$s-mIco_social-fb: 94px, 67px, -94px, -67px, 30px, 30px, 180px, 163px, 'sprite.png';
$s-mIco_social-ok: 68px, 111px, -68px, -111px, 30px, 30px, 180px, 163px, 'sprite.png';
$s-mIco_social-telegram: 102px, 111px, -102px, -111px, 30px, 30px, 180px, 163px, 'sprite.png';
$s-mIco_social-tw: 0px, 111px, 0px, -111px, 30px, 30px, 180px, 163px, 'sprite.png';
$s-mIco_social-vk: 34px, 111px, -34px, -111px, 30px, 30px, 180px, 163px, 'sprite.png';
$s-optionSelectArrowWhiteDefault: 90px, 54px, -90px, -54px, 16px, 9px, 180px, 163px, 'sprite.png';
$s-optionSelectArrowlBlueDefault: 110px, 54px, -110px, -54px, 16px, 9px, 180px, 163px, 'sprite.png';
$s-sIcoDBlue_arrowRight: 168px, 68px, -168px, -68px, 12px, 11px, 180px, 163px, 'sprite.png';
$s-sIcoGrey_date: 164px, 111px, -164px, -111px, 16px, 14px, 180px, 163px, 'sprite.png';
$s-sIcoGrey_eye: 52px, 145px, -52px, -145px, 16px, 9px, 180px, 163px, 'sprite.png';
$s-sIcoWhite_reload: 28px, 145px, -28px, -145px, 20px, 16px, 180px, 163px, 'sprite.png';
