$s-mIcoBlack_printer: 68px, 34px, -68px, -34px, 24px, 24px, 130px, 98px, 'sprite.png';
$s-mIcoBlue_arrowRight: 34px, 68px, -34px, -68px, 24px, 18px, 130px, 98px, 'sprite.png';
$s-mIcoWhite_mastercard: 0px, 0px, 0px, 0px, 46px, 30px, 130px, 98px, 'sprite.png';
$s-mIcoWhite_visa: 50px, 0px, -50px, 0px, 46px, 30px, 130px, 98px, 'sprite.png';
$s-mIco_social-fb: 34px, 34px, -34px, -34px, 30px, 30px, 130px, 98px, 'sprite.png';
$s-mIco_social-ok: 0px, 34px, 0px, -34px, 30px, 30px, 130px, 98px, 'sprite.png';
$s-mIco_social-telegram: 100px, 34px, -100px, -34px, 30px, 30px, 130px, 98px, 'sprite.png';
$s-mIco_social-tw: 0px, 68px, 0px, -68px, 30px, 30px, 130px, 98px, 'sprite.png';
$s-mIco_social-vk: 100px, 0px, -100px, 0px, 30px, 30px, 130px, 98px, 'sprite.png';
$s-sIcoGrey_date: 62px, 68px, -62px, -68px, 16px, 14px, 130px, 98px, 'sprite.png';
$s-sIcoGrey_eye: 82px, 68px, -82px, -68px, 16px, 9px, 130px, 98px, 'sprite.png';
